.chitietsp{
	line-height: 1.5;
	padding-top: 100px;
}
.chitietsp .row{
	padding-top: 20px;
}
.chitietsp .row img{
	width: 95%; /*anh hien thi 100% kich thuoc*/
	display: block;
	height: auto;
	margin:auto;
	margin: 0px;
	padding:0px;
}
.chitietsp .title{
	font-size: 28px;
}
.chitietsp .author{
	color: #5400FF;
}

.chitietsp .motta{
	text-shadow: 0.1px 1px 2px;
	text-align: center;
	padding:0 15px;
		 
}

.chitietsp .mota{
	
	padding-bottom: 20px;
	border-bottom: 0px solid white;
	border-left:0px solid white;
	border-right:0px solid white;
	
}


.tacgia, .chitietsp .author{
	display: inline-block;
}
.giaca ,.chitietsp .price{
	display: inline-block;	
}
/*---Số Lượng----*/
.dieuchinhs1{
	display: inline;

}
 .chitietsp .SL,.chitietsp .pre,.chitietsp .text,.chitietsp .next{
	display: inline-block;
	float: left;
	position: relative;
	
}

.chitietsp .pre input[type="button"]{
	border-radius:  6px 0 0 6px ;
    border: 1px solid #CDCDCD;
    background: #fff;
    padding: 7px;
    width: 30px;
}
.chitietsp .text input[type="text"]{
	height: 27px;
	border: 1px solid #CDCDCD;
	text-align: center;
	width: 40px;
}
.chitietsp .next input[type="button"]{
	border-radius:  0 6px 6px 0;
    border: 1px solid #CDCDCD;
    background: #fff;
    padding: 7px;
    width: 30px;
}
/*----END SỐ LƯỢNG----*/

.chitietsp.text{
	text-align: center;
	float: left;
}
.title {
	line-height: 35px;
}



.addgio button{
	margin-top: 20px;
	border-radius: 7px;
	height: 50px;
	width: 200px;
	border:1px solid #ff3945;
	background-color: #ff3945;
}
.addgio button:hover{
	background-color: #FF5B5B;
	border:1px solid #FF5B5B;
}
.addgio .fas{
	color: white;
	size: 50px;
	margin-right: 7px;
}
.addgio p{
	color: white;
}

.addgio p ,.addgio .fas{
	display: inline-block;
}
.chitietsp .chitiet{
	margin-top:20px;
}

table.bang{
    border-collapse: collapse;
    border-spacing: 0;
    width: 500px;
    border: none;
	}

.bang th{
	background-color: #6A66FF;
	color: #f1f1f1;
	border:1px solid inherit;
}
.bang tr td{
	padding: 10px;
	border:0.2px solid inherit;
}
.bang .tr1,.bang .tr3,.bang .tr5,.bang .tr7{
	background-color: #f2f2f2;
}
.bang .tr2,.bang .tr4,.bang .tr6,.bang .tr8{
	background-color: #E4E4E4;
}
@media only screen and (max-width: 680px){
	.chitietsp{
		padding-top: 0px;
	}
	.chitietsp .row{
		text-align: center;
	}
	.col-3,.col-5{
		width: 100%;
	}

}
