/*#formdn input[type="button"]{
	margin-right: 5px;
	background-color: #09E122;
	border: none;
	font-size: 18px;
	color: #f1f1f1;
}
#formdn input[type="text"]:hover
{
	cursor: pointer;
}
#formdn input[type="password"]:hover
{
	cursor: pointer;
}
#formdn a{
	color: red;
}*/
.boxdiv{
	padding-top: 30px;
	margin: auto;
	width: 35%;
	height: 350px;	
	/*//background: #189eff;*/
	color: #fff;
/*	//top: 50%;
	//left: 50%;
	//position: absolute;
	//transform: translate(-50%,-50%);*/
	box-sizing: border-box;
	border-radius: 5px;
	padding: 10px 30px;
	border: 2px solid #189eff;
	/*//box-shadow: 5px 5px 5px #000;*/
}

.boxdiv h1{
	color: #2847E5;	
	padding: 5px 0 5px;
	margin: 0;
	text-align: center;
	font-size: 22px;

}
	
.boxdiv p{
	margin: 0;
	padding: 0;
	font-style: bold;
	font-size: 15px;
}
.boxdiv input{
	margin-bottom: 15px;
	width: 100%;
}

.boxdiv input[type="text"],.boxdiv input[type="password"]{
	border: none;
	border: 1px solid #189eff;
	background: transparent;
	border-radius: 15px;
	outline: none;
	height: 40px;
	color: black;
	font-size: 18px;
	padding-left: 5px;
}
.boxdiv input[type="button"]{
	border: none;
	outline: none;
	height: 40px;
	background: #2847E5;
	color: white;
	font-size: 20px;
	border-radius: 20px;
	text-align: center;

}
.boxdiv input[type="button"]:hover{
	cursor: pointer;
	color: black;
	background: #189eff;
}
.boxdiv a{

	text-decoration: none;
	font-size: 15px;
	line-height: 22px;
	color: #189eff;

}
.boxdiv p{
font-size: 18px;
color: #189eff;
}
.boxdiv a:hover{
	text-decoration: underline;
	color: #2847E5;
}
