.khachhangcontent{
	width: 98%;
	margin: auto;
}
*{
	padding: 0;
	margin: 0;
}
h1{
	padding: 0;
	margin:0;
}
header {
	font-size: 30px;
	text-align: center;
	width: 90%;
	margin: auto;
}
nav{
	width: 90%;
	margin: auto;
}
nav ul.topnav{
	overflow: hidden;
	list-style: none;
	padding: 0; 
	background-color: #555;
}
nav ul.topnav li{
	float: left;
}
nav ul.topnav li a{
	display: block;
	padding: 20px;
	text-decoration: none;
	color: #f1f1f1;
}
nav ul.topnav li a:hover{
	background-color: #333;
}
nav ul.topnav li.rightside{
	float: right;
}
body{
	padding: 0;
	margin: 0;
}
*{
	font-family: 'Open Sans', sans-serif;
}
/*code riêng cho header*/
table th{
	background-color: #4CAF50;
	color: #f1f1f1;
	border:0.2px solid #888;
	font-size: 20px;
}
table tr td{
	border:1px solid #999;
	padding: 20px;
}
table tr:nth-child(even){
	background-color: #dddddd;
}
table button{
	background-color: red;
	border:none;
	color: #fff;
	padding: 5px;
	font-size: 17px;
	width: 40px;
}
table button:hover{
	background-color: tomato;
}