/*Global code*/
/*code cho toàn cục*/
body{
}
/*scroll*/ 
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white ; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: gray; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #d1d8eb; 
}
html {
  scroll-behavior: smooth;
}
*{
	font-family: 'Open Sans', sans-serif;
}
header{
	background-color: #0d59af;
	top: 0;
}
body{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"]{
	float: left;
}
img{
	border: 0;
}
.row{
	width: 100%;
	display: block;
}
.row::after{
	display: table;
	content: "";
	clear: both;
}

/*header*/
header.none{
	transform: translateY(-100%);
	transition: 1s;
}
header{
	position: fixed;
	top: 0px;
	z-index: 9999999;
	width: 100%;
	/*border-bottom-right-radius: 10px; 
	border-bottom-left-radius: 10px; */
	opacity: 0.9;
}
header .container-header{
	overflow: hidden;
	width: 90%;
	margin:auto;
}
header .container-header .branding{
	float: left;
	width: 20%;
}
header .container-header .search{
	float: left;
	width: 30%;
	margin-top: 30px;
}
header .container-header .search input[type="text"]{
	height: 30px;
	border: 2px solid #1144C6;
	border-radius: 4px;
	width: 70%;
	padding-left: 10px;
}
header .container-header .search button{
	height: 35px;
	/*border: 2px solid #1144C6;*/
	padding: 0px 30px;
	padding-bottom: 4px;
	border:none;
	border-radius: 4px;
	background-color: #3271E4;
	font-size: 18px;
	color: #333;
}
/*code cho phần header bên khung topnav*/
header .container-header .topnav{
	float: left;
	width: 50%;
}
header .container-header .topnav ul{
	overflow: hidden;
	padding:0;
	list-style: none;
	margin-top: 30px;
}
header .container-header .topnav ul li{
	float: left;
	width: 25%;
}
header .container-header .topnav ul li a{
	display: block;
	overflow: hidden;
}
header .container-header .topnav ul li a:hover{
	color: #333;
	text-decoration: underline;
/*	font-weight: bold;*/
}
/*trong thẻ a có 2 thành phần là i  và label code để cả 2 đều nằm bên trái*/
header .container-header .topnav ul li i{
	float: left;
	padding-right: 5px;
	color: #f9f9f9;
	font-size: 30px;
}
header .container-header .topnav ul li label{
	float: left;
}
header .container-header a{
	color: #f9f9f9;
}
/*code for slide show */
.slideshow{
	position: relative;
}
.slideshow .pre{
	position: absolute;
	top:40%;
	left: 10px;
}
.slideshow button{
	border-radius: 10px;
	border:0;
	padding: 15px;
	background-color: rgba(0,0,0,0.19);
}
.slideshow .next{
	position: absolute;
	top:40%;
	right:10px;
}
.adver{
	padding-top: 120px;
	width: 90%;
	margin:auto;
}
.adver .container{
	margin:auto;
}
.adver .container  img{
	width: 100%;
	height: 300px;
}
/*code for adver*/
/*code cho quảng cáo banner*/
.adver .col-10 > img{
	width: 32.9999%;
	height: 250px;
}
/*code for hide tab menu*/
/*code cho phần responsive lúc mà màn hình dưới 680px*/
/*cái này bên mobile.css mình sẽ display block*/
.clickButton{
	display: none;
}
/*Code for product*/
/*code cho phần sản phẩm*/
.listofbook .col-2 img{
	width: 100%;
}
.listofbook .col-10{
	overflow: hidden;
}
.responsive{
	width: 25%;
	float: left;
}
.responsive:hover{
}
.responsive .gallery{
	margin:10px;
	/*transition: 0.8s;*/
	height: 400px;
	padding: 10px;
	border: 1px solid #ccc;
	position: relative;
	border-radius: 5px; 
	animation-name: slideUp;
    -webkit-animation-name: slideUp;
    animation-duration: 3s;
}
@keyframes slideUp{
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
.responsive .gallery button{
	position: absolute;
	bottom: 10px;
	right: 10px;
	background-color: #1995FE;
	border:0px;
	padding: 10px;
	font-weight: bold;
	border-radius: 5px;
	color: #f9f9f9;
}
.responsive .gallery:hover
{
	-webkit-box-shadow: -2px 2px 22px 0px rgba(109,117,114,1);
	-moz-box-shadow: -2px 2px 22px 0px rgba(109,117,114,1);
	box-shadow: -2px 2px 22px 0px rgba(109,117,114,1);
}
.responsive .gallery img{
	display: block;
	width: 230px;
	margin:auto;
	/*width: 241px;*/
	height: 250px;
}
.responsive .gallery .title{
	font-size: 1em;
	color: #242424;
	text-align: left;
}
.responsive .gallery .author{
	font-size: 1em;
	color: #777;
}
.responsive .gallery .price{
	color: blue;
	font-size: 1em;
}
.responsive .gallery .price del
{
	color: red;
}
/*.overplay{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
}
.overplay .text{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white;
	background-color:#2F7FEC;
	padding:5px 10px;
	border-radius: 5px;
}*/
/*number of page*/
#pageofbook {
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
}
#pageofbook a{
	display: inline-block;
	padding: 10px;
	background-color: #333;
	color: white;
	text-decoration: none;
	border: #333;
	margin:1px;
	border: 1px solid white;
}
#pageofbook a:hover{
	background-color: white;
	border: 1px solid black;
	color: black;
}
/** tua de trong phần content*/
#tuade{
	text-align: center;
	/*background-image: linear-gradient(to right,#1573D3,#fff);*/
	background-color: #007EA7;
	color: #f1f1f1;
}
h4{
	padding: 5px;
	margin: 0;
}
#timkiemnangcao{
	text-align: center;
}
#timkiemnangcao option{
	text-align: center;
}
#timkiemnangcao input,select{
	text-align: center;
	margin: auto;
}
/*code cho content*/
/*#content{
	width: 90%;
	margin:auto;
	display: block;
}*/
/*footer*/
footer{
	margin-top: 10px;
}
footer .container{
	text-align: center;
}
/*button giá sp 50000 1000000*/
#mucgia{
	text-align: center;
}
.giasp
{
	border:0;
	margin-bottom: 5px;
	background-color: #382DC8;
	color:#fff;
	font-size: 0.9em;
	border-radius: 10px;
	padding: 10px;
	margin:5px;
}
/**code cho giỏ hàng*/
.giohang2.none{
	width: 0px;
	height: 0px;
	overflow: hidden;
	transition: 1s;
}
.giohang2{
	height: 300px;
}
.giohang2 .contentbox{
	border:1px solid #BBBBBB;
	margin:auto;
	margin-bottom: 10px;
	overflow: hidden;
	width: 60%;
	padding: 10px;
	border-radius: 8px;
	animation-name: slideUp;
	animation-duration: 1.5s;
}
.giohang2 .img{
	float: left;
	width: 35%;
}
.giohang2 .img img{
	width: 250px;
	height: 250px;
}
.giohang2 .content{
	width: 65%;
	float: left;
}
.giohang2 .pre{

}
.giohang2 .soluong{
	width: 30px;
	margin: 2px 3px; /*khoảng cách giữa 2 nút*/
	text-align: center;
}

#tongtien{
	text-align: center;
	font-size: 18px;
}
#content .giohang2 .title{
	color:black;
}
#content .giohang2 .author{
	color: #999;
}
#content .giohang2 .Giá{
	color: blue;
}
#content .giohang2 .soluong{
	color: tomato;
}
#content .giohang2 button{
	background-color: #fff;
	border: 1px solid #ccc;
	cursor: pointer;
	padding: 8px;
	color: #333;
	border-radius: 5px;
	font-size: 15px;
	display: block;
	margin: 3px;
}
#content .giohang2 button:hover{
	
}
/*search bar 2*/
#search-bar-2{
	text-align: center;
}
#search-bar-2 input[type="text"]
{
	width: 300px;
	border-radius: 10px;
	border:1px solid #D9D5D5;
	height: 30px;
	padding-left: 5px; 
	font-size: 1em;
}
#search-bar-2 button{
	border:0px;
	padding: 5px;
	margin-left: 5px;
	border-radius: 5px;
	background-color: #5088EE;
	font-size: 1em;
}
/*nút mua hàng cuối trang*/
#muahang{
	text-align: center;
}
#muahang .nutmuahang{
	background-color: #569EFF;
	padding: 10px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	text-transform: uppercase;
}
.lockpage{
	background-color: #F33636 !important;
}
table{
	width: 700px;
	border:1px solid black;
	margin: auto;
	padding: 20px;
	margin-bottom: 5px;
}
table th{
	text-align: left;
	background-color: #333;
	color: #fff;
}
table div{
	padding-bottom: 10px;
}
table td{
	width: 33.3333%;
	margin: 20px;
}